@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300;400;600&display=swap');
/*
.main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background-image: url("../../../assets/main-dark.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
*/

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    height: fit-content;
    width: 100%;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
}

.content span {
    color: white;
    font-family: 'Dosis', sans-serif;
}

.title {
    font-size: 64px;
    font-weight: bold;
}

.subtitle {
    font-size: 24px;
}

.button {
    margin-top: 30px;
    padding: 15px;
    background-color: #764C0E;
    border-radius: 30px;
    border-style: none;
    color: white;
    font-family: 'Dosis', sans-serif;
    font-size: 24px;
    font-weight: 600;
}

.button:hover {
    background-color: #8d5b11;
    cursor: pointer;
}

.shapeDivider{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    z-index: 2;
}

.shapeDivider svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 60px;
}

.shapeDivider .shapeFill {
    fill: rgb(27, 6, 6);
}

.videoBg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    object-fit: cover;
}

.videoOpacity {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.6);
}

@media screen and (max-width: 1100px) {

    .title {
        font-size: 48px;
    }

}

@media screen and (max-width: 650px) {

    .content {
        text-align: center;
    }

    .title {
        font-size: 36px;
    }

    .subtitle {
        font-size: 24px;
    }

    .button {
        font-size: 18px;
        padding: 10px;
    }

}