@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300;400;600&display=swap');

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 40vh;
    height: fit-content;
    width: 100%;
    background-color: #461C0A;
    padding: 40px;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.itemsContainer {
    display: flex;
    justify-content: space-between;
    width: 60%;
}

.item {
    display: flex;
    flex-direction: column;
}

.item ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.title {
    font-size: 36px;
    font-weight: 600;
    color: white;
    font-family: 'Dosis', sans-serif;
}

.bullet {
    font-size: 20px;
    color: rgb(219, 219, 219);
    font-family: 'Dosis', sans-serif;
}

.bullet:hover {
    cursor: pointer;
    color: rgb(182, 182, 182);
}

.footer hr {
    margin-top: 40px;
    margin-bottom: 40px;
    width: 60%;
    color: white;
}

.crContainer {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.crContainer span {
    color: white;
    font-family: 'Dosis', sans-serif;
}

@media screen and (max-width: 1100px) {

    /*.itemsContainer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: fit-content;
        gap: 20px;
    }*/

    .title {
        font-size: 28px;
    }

    .bullet {
        font-size: 16px;
    }

}

@media screen and (max-width: 920px) {

    .itemsContainer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: fit-content;
        gap: 20px;
    }

}

@media screen and (max-width: 650px) {

    .itemsContainer {
        grid-template-columns: repeat(1, 1fr);
    }

}